.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}



ul {  margin-bottom: 1.25rem;
}

ul.no-bullet {
list-style: none;
}

.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block; }
    .inline-list > li > * {
      display: block; }


.main {
    background-color: #0c3545;
    height: 100%;
}

.absolute {
    position: absolute;
}

.cloud_left {
    width: 150px;
    height: 50px;
    overflow: hidden;
    top: 60px;
    left: 60px;
    z-index:999;
}

.cloud {
    background: white;
    border-radius: 50%;
    display: block;
}

.cloud_left ul , .land_tree ul {
    margin: 0px
}

.cloud_left li:nth-child(1) {
    width: 50px;
    height: 50px;
    margin: 30px 0px 0px 0px;
}

.cloud_left li:nth-child(2) {
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px -10px;
}

.cloud_left li:nth-child(3) {
    width: 40px;
    height: 40px;
    margin: 23px 0px 0px -7px;
}


.cloud_right {
    width: 150px;
    height: 50px;
    overflow: hidden;
    top: 100px;
    right: 240px;
    z-index: 2;
}

.cloud_right ul , .land_tree ul {
    margin: 0px
}

.cloud_right li:nth-child(1) {
    width: 40px;
    height: 40px;
    margin: 36px 0px 0px 1px;
}

.cloud_right li:nth-child(2) {
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px -11px;
}

.cloud_right li:nth-child(3) {
    width: 50px;
    height: 50px;
    margin: 31px 0px 0px -13px;
}



.boat {
    bottom: 10px;
    z-index: 1;
    -webkit-animation: boatanimate 30s linear infinite;
    -moz-animation: boatanimate 30s linear infinite;
    -o-animation: boatanimate 30s linear infinite;
    animation: boatanimate 30s linear infinite;
}

@-webkit-keyframes boatanimate {
    0% {right:25px;}
    100% {right:1040px;}
}

@-moz-keyframes boatanimate {
    0% {right:25px;}
    100% {right:1040px;}
}

@-o-keyframes boatanimate {
    0% {right:25px;}
    100% {right:1040px;}
}

@keyframes boatanimate {
    0% {right:25px;}
    100% {right:1040px;}
}

.boat-body {
    width: 100px;
    height: 20px;
    background: #e25c45;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 20px;
}

.white-body {
    width: 65px;
    height: 16px;
    background: #FFF;
    margin: 0px 3px;
    border-top-left-radius: 20px;
}

.windows {
    margin: 0px 2px !important;
}


.boat .circle {
    background: #a18e6e;
    width: 7px;
    height: 7px;
    margin: 5px 3px;
    border-radius: 50%;
}

.smokestack {
    width: 10px;
    height: 17px;
    background: #a18e6e;
    bottom: 30px;
    margin-left: 45px;
}




.sun {
    width: 48px;
    height: 48px;
    background: #fab92d;
    border-radius: 50%;
    border-bottom:5px solid #eaab23;
    border-right:5px solid #eaab23;
    right: 352px;
    top: 90px;
    z-index: 1;
}

.main h1 {
    margin-top: 143px;
    margin-left: 110px;
    color: #FFF;
    font-size: 30px;
}




.relative {
    position: relative;
}

.fume {
    margin:0px;
}

.fume li {
    background-color: white;
    border-radius: 50%;
}

.fume1 {
    width: 7px;
    height: 7px;
    margin-left: 48px;
    -webkit-animation: smokeup 2.0s linear infinite;
    -moz-animation: smokeup 2.0s linear infinite;
    -o-animation: smokeup 2.0s linear infinite;
    animation: smokeup 2.0s linear infinite;
}

.fume2 {
    width: 9px;
    height: 9px;
    margin-left: 38px;
    -webkit-animation: smokeup 2.1s linear infinite;
    -moz-animation: smokeup 2.1s linear infinite;
    -o-animation: smokeup 2.1s linear infinite;
    animation: smokeup 2.1s linear infinite;}

.fume3 {
    width: 12px;
    height: 12px;
    margin-left: 48px;
    -webkit-animation: smokeup 2.2s linear infinite;
    -moz-animation: smokeup 2.2s linear infinite;
    -o-animation: smokeup 2.2s linear infinite;
    animation: smokeup 2.2s linear infinite;}

.fume4 {
    width: 15px;
    height: 15px;
    margin-left: 38px;
    -webkit-animation: smokeup 2.3s linear infinite;
    -moz-animation: smokeup 2.3s linear infinite;
    -o-animation: smokeup 2.3s linear infinite;
    animation: smokeup 2.3s linear infinite;}

@-webkit-keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}

@-moz-keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}

@-o-keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}

@keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}


.r-mountain {
    border-left: 110px rgba(0, 0, 0, 0) solid;
    border-right: 110px rgba(0, 0, 0, 0) solid;
    border-bottom: 170px #B3A385 solid;
    position: absolute;
    right: 80px;
    bottom: 40px;
}

.r-mountain:before {
    content: '';
    position: absolute;
    left: 0px;
    border-right: 110px rgba(0, 0, 0, 0) solid;
    border-bottom: 170px #A18E6E solid;
}

.r-mountain:after {
    content: '';
    position: absolute;
    left: -39px;
    border-left: 39px rgba(0, 0, 0, 0) solid;
    border-right: 39px rgba(0, 0, 0, 0) solid;
    border-bottom: 60px #FFF solid;
}

.snow {
    margin: 0px;
    position: absolute;
    top: 9px;
    right: 153px;
}
.snow li {
    background: #FFF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0px;
    display: inline-block;
}

.gl:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 40px;
    border-radius: 50px;
    background: #219065;
    bottom: 36px;
    left: 0px;
}


@keyframes bgscroll {
    from {background-position: 0px 0px, 0px 100%, 0px 50%, 0px 0px;}
    to {background-position: 7680px 0, 5760px 100%, 3840px 50%, 1920px 0;} 
    }
  
  
  .edu_background {
      background-color: whitesmoke;
      background-image: 
        url(http://uploads.webflow.com/58403463926ee7da5fc95c2c/5852b7cd05b004e37e42ffee_foreground.png),           url(http://uploads.webflow.com/58403463926ee7da5fc95c2c/5852b7cdfcb377e77683218b_layer-2.png), url(http://uploads.webflow.com/58403463926ee7da5fc95c2c/5852b7cdc3df534d7a2f884c_layer-3.png), url(http://uploads.webflow.com/58403463926ee7da5fc95c2c/5852b7cd340c2d2577e0ecea_layer-4.png);
      background-position: 0px 0px, 0px 100%, 0px 100%, 0px 0px;
      background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
      width:100%;
      height:100%;
      padding-bottom: 70px;
        
      animation-name: bgscroll;
      animation-duration: 200s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }
  
  
